# Python basics

## Variables

In [2]:
print("Hello World")

Hello World

In [5]:
a = 10
b = 10.5

print(a)
print(b)

print(type(a))
print(type(b))

10
10.5
<class 'int'>
<class 'float'>

In [7]:
c = 5 + 9j

print(c)

print(type(c))

(5+9j)
<class 'complex'>

## Working with Inputs

In [8]:
name = input()

print(name)

Nakul Mehra
Nakul Mehra

In [10]:
name = input()

print("Hello")
print(name)

print("Hello",end=" ")
print(name)

Nakul Mehra
Hello
Nakul Mehra
Hello Nakul Mehra

In [13]:
name = input("Enter the name of institute ")

print(name)

Enter the name of institute Coding Blocks
Coding Blocks

## Reading numbers - Type casting

In [26]:
number = input("Enter the number ")

print(number)
print(type(number))

number = int(number)
print(type(number))

print("Square of number is " + str(number**2))

Enter the number 4
4
<class 'str'>
<class 'int'>
Square of number is 16

In [27]:
d= float(input())

print(d)
print(type(d))

34.666
34.666
<class 'float'>

## More about print function
- format
- end
- sep

In [30]:
print("Hello","I","love","python")

print("Hello"+"I"+"love"+"python")

print("Hello "+"I "+"love "+"python")

Hello I love python
HelloIlovepython
Hello I love python

In [34]:
print("Hello","I","love","python",sep="\n")

Hello
I
love
python

In [36]:
a = 10
b = 20
print(a,end=', ')
print(b)

10, 20

In [37]:
a = "Indians"
b = "Mangoes"

print("{0} love {1}".format(a,b))

Indians love Mangoes

In [38]:
a = 10
b = 20

print("You entered %d and %d"%(a,b))

You entered 10 and 20

In [30]:
a = "Hello"
b = "world"

print(a,b,sep = " + ")

Hello + world

## Arithmatic operators

In [4]:
a = 10
b = 21

print(a+b)
print(a-b)
print(a*b)
print(a/b)      # gives float value
print(a//b)     # gives integer value
print(a%b)
print("%0.4f"%(a/b))   # print 4 digits after decimal
print(a**b)            # print a^b

31
-11
210
0.47619047619047616
0
10
0.4762
1000000000000000000000

## Multiple variable assignment

In [5]:
a,b,c = 10,20,30.5
print(a, b, c)

10 20 30.5

## Comments

In [6]:
#this is single line comment
"""this is multiline comment"""

string = """this is 
multiline string"""

print(string)

this is
multiline string

## Operators- arithematic, logical, compound assignment, comparison operators

In [7]:
raining = True
Temperature = 30

output = not raining and Temperature < 30
print(output)

False

In [9]:
weather = input()

if weather == "Rainy":
    print("Dont't go outside")
    
elif weather == "Cool":
    print("Let's play")
    
else:
    print("Let's go for shopping")

Cool
Let's play

## Loops

In [11]:
n = 10
i = 1
while i<=10:
    print("Step",str(i))
    i=i+1
    
print("Loop finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop finished

In [15]:
for i in range (1,10):
    print(i, end = ",")

1,2,3,4,5,6,7,8,9,

In [14]:
for i in range (1,10,2):   # Take jump of 2
    print(i, end = ",")

1,3,5,7,9,

## Reverse Loops

In [19]:
for i in range (10, 1,-1):  # In reverse loops we will have to give jump in negative always.
    print(i, end = ",")

10,9,8,7,6,5,4,3,2,

## Break, continue and pass statements

In [21]:
for i in range (1, 10):
    if i == 5:
        pass          # used when we want to do noting
    print(i)

1
2
3
4
5
6
7
8
9

In [23]:
for i in range (1, 10):
    if i == 5:
        break          # break the loop when i==5
    print(i)

1
2
3
4

In [24]:
for i in range (1, 10):
    if i == 5:
        continue          # skip the bottom part of loop
    print(i)

1
2
3
4
6
7
8
9

## Default argument values and local global variables

In [26]:
def say(x = "Python"):    # Python is default value 
    print("I love", x)
    
say("Javascript")    
say()

I love Javascript
I love Python

## Recusive function

In [28]:
def fact(n):
    if n==1:
        return 1
    return n*fact(n-1)

print(fact(6))

720

## Keyword arguments

In [38]:
def fun (score = 80, lang = "Python", rollNo = 30):
    print("I scored %d in %s"%(score,lang))
    print(rollNo)
    
fun (56, "Javascipt", 4)
fun ()

I scored 56 in Javascipt
4
I scored 80 in Python
30

# Data Structures

## Strings and Builtin methods

In [41]:
# Strings are not mutable
a = "Coding Blocks"

print(a)
print(a[2])
print(a[-1])
print(len(a))

Coding Blocks
d
s
13

In [44]:
a = "Coding Blocks"

for i in range (len(a)):
    print(a[i])

C
o
d
i
n
g

B
l
o
c
k
s

In [43]:
a = "Coding Blocks"

for c in a:
    print(c)

C
o
d
i
n
g

B
l
o
c
k
s

In [49]:
a = "Mango"
b = "Juice"

print(a + b)
print(a*5)
print(a[1:-2])
print(a[:])
print(a[-2:])

MangoJuice
MangoMangoMangoMangoMango
an
Mango
go

In [54]:
a = "Papaya"
print('p' in a)

b = "Coding Blocks"
if "Coding" in b:
    print("Yes")

True
Yes

In [2]:
a = "This is some code written here"
l = a.split()

print(l)
print(type(l))
print(type(a))

print("-".join(l))

['This', 'is', 'some', 'code', 'written', 'here']
<class 'list'>
<class 'str'>
This-is-some-code-written-here

In [9]:
a = """This is 
some code 
written here"""

print(a.splitlines())

['This is ', 'some code ', 'written here']

In [10]:
fruit = "Mango"

print(fruit.upper())
print(fruit.lower())

MANGO
mango

In [16]:
a = "    Hello World     "
b = a.strip()      # removes whitespaces 
c = a.lstrip()     # removes leading whitespaces
d = a.rstrip()     # removes ending whitespaces

print(a)
print(len(a))
print(b)
print(len(b))
print(c)
print(d)

    Hello World
20
Hello World
11
Hello World
    Hello World

In [17]:
a = "9546"

print(a.isdigit())

True

In [6]:
a ="H.No 345"

print(a.isalpha())

False

In [4]:
a = "123abc@"

print(a.isalnum())

False

In [20]:
a = "Abc"

print(a.islower())

False

In [22]:
a = "Hello World"
b = "   "

print(a.isspace())
print(b.isspace())

False
True

## Some more string functions
- Find function
- Replace
- Count function
- Join function
- Title function
- Capitalize

In [31]:
a = "I love Apple Juice and love eating green Apple"

print(a.find("Apple"))    # find from left hand side
print(a.rfind("Apple"))    # find from right hand side
print(a.find("Mango"))

print(a.index("Apple"))     # same like find function but will show error if Apple is not present

7
41
-1
7

In [35]:
a = "I love Apple Juice and love eating green Apple"


print(a.replace("Apple","Mango"))
print(a.count("Apple"))

l = a.split()
print(l)

print("_".join(l))

b = "-"
print(b.join(l))

I love Mango Juice and love eating green Mango
2
['I', 'love', 'Apple', 'Juice', 'and', 'love', 'eating', 'green', 'Apple']
I_love_Apple_Juice_and_love_eating_green_Apple
I-love-Apple-Juice-and-love-eating-green-Apple

In [37]:
a = "codng blocks"

print(a.capitalize())
print(a.title())

Codng blocks
Codng Blocks

## Lists

In [39]:
a = [2,66,64,86]

print(a)
print(type(a))

[2, 66, 64, 86]
<class 'list'>

In [44]:
b = list([1,4,5,64,3])

print(b)
print(type(b))

c = list(b)
print(b+c)

[1, 4, 5, 64, 3]
<class 'list'>
[1, 4, 5, 64, 3, 1, 4, 5, 64, 3]

In [47]:
l1 = [i*i for i in range(1,6)]

print(l1)
print(l1[0:3])

[1, 4, 9, 16, 25]
[1, 4, 9]

## Insertion and Deletion
- append
- insert
- del
- pop
- remove

In [64]:
l = [1, 2]

print(l)

l.append(3)
print(l)

l.append([4, 5])
print(l)

print(l[2])
print(l[3])

l.remove(2)
print(l)

del l[0]
print(l)

l.pop()
print(l)

l.insert(2,20)
print(l)

[1, 2]
[1, 2, 3]
[1, 2, 3, [4, 5]]
3
[4, 5]
[1, 3, [4, 5]]
[3, [4, 5]]
[3]
[3, 20]

In [62]:
l = [1, 2, 3, 4]
l = l*4

print(l)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [63]:
l = ["Apple", "Mango", "Banana", 40]

print(40 in l)

True

## More functions on lists

In [72]:
l = [1,3,5,36,3,7]

print(max(l))
print(min(l))

print(l.index(5))

print(sorted(l))
print(l)

l.sort()
print(l)

l.sort(reverse = True)
print(l)

36
1
2
[1, 3, 3, 5, 7, 36]
[1, 3, 5, 36, 3, 7]
[1, 3, 3, 5, 7, 36]
[36, 7, 5, 3, 3, 1]

In [73]:
a = input("Input numbers")
print(a)
print(type(a))

b = input("Input the numbers again").split()
print(b)
print(type(b))

Input numbers1 3 65 2 45
1 3 65 2 45
<class 'str'>
Input the numbers again3 5 5 3 5
['3', '5', '5', '3', '5']
<class 'list'>

## Tuples

In [1]:
# tuples are immutable
t = (1, 2, 4, 3, "Hello")
print(t)

l = list(t)
print(l)

t2 = tuple(l)
print(t2)

print(t2 + t)

t2 = t2*3
print(t2)

(1, 2, 4, 3, 'Hello')
[1, 2, 4, 3, 'Hello']
(1, 2, 4, 3, 'Hello')
(1, 2, 4, 3, 'Hello', 1, 2, 4, 3, 'Hello')
(1, 2, 4, 3, 'Hello', 1, 2, 4, 3, 'Hello', 1, 2, 4, 3, 'Hello')

## Dictionaries

In [98]:
d = {"Mango":100, "Apple":40}

print(d)
print(d["Mango"])

d["Pineapple"] = 70
print(d)

d["Grape"] = {"Small":30,"Large":80}
print(d)

print(d["Grape"]["Small"])

print(d.values())
print(d["Grape"].values())

print(d.get("Mangoes"))
print(type(d.get("Mangoes")))

{'Mango': 100, 'Apple': 40}
100
{'Mango': 100, 'Apple': 40, 'Pineapple': 70}
{'Mango': 100, 'Apple': 40, 'Pineapple': 70, 'Grape': {'Small': 30, 'Large': 80}}
30
dict_values([100, 40, 70, {'Small': 30, 'Large': 80}])
dict_values([30, 80])
None
<class 'NoneType'>

In [96]:
if "Mango" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Price of Mango is 100

In [105]:
print(d)
print(d.items())
      
l = list(d.items())
print(l)

{'Mango': 100, 'Apple': 40, 'Pineapple': 70, 'Grape': {'Small': 30, 'Large': 80}}
dict_items([('Mango', 100), ('Apple', 40), ('Pineapple', 70), ('Grape', {'Small': 30, 'Large': 80})])
[('Mango', 100), ('Apple', 40), ('Pineapple', 70), ('Grape', {'Small': 30, 'Large': 80})]

In [111]:
d2 = {"Strawberry":150}
d.update(d2)

print(d)

print(len(d))

d.clear()
print(len(d))

{'Mango': 100, 'Apple': 40, 'Pineapple': 70, 'Grape': {'Small': 30, 'Large': 80}, 'Strawberry': 150}
5
0

In [135]:
l1 = ["Apple", "Banana", "Papaya","Grape"]
l2 = [10,20,50,35]

p1 = zip(l1,l2)
p2 = dict(zip(l1,l2))

print(p1)
print(type(p1))

print(p2)
print(type(p2))

<zip object at 0x0000013D071204C8>
<class 'zip'>
{'Apple': 10, 'Banana': 20, 'Papaya': 50, 'Grape': 35}
<class 'dict'>

In [136]:
for k in p1:
    print(k)

('Apple', 10)
('Banana', 20)
('Papaya', 50)
('Grape', 35)

In [137]:
for k in p2:
    print(k)

Apple
Banana
Papaya
Grape

## Sets

In [143]:
# Sets are ordered and unique elements
# unordered and unindexed

s = set([1, 4, 3, 5, 1, 87, 45])
print(s)

{1, 3, 4, 5, 45, 87}

In [147]:
s2 = {3, 45, 5, 2, 4, 4}
print(s2)
s2.add(100)
print(s2)

{2, 3, 4, 5, 45}
{2, 3, 4, 5, 100, 45}

In [150]:
print(s.union(s2))
print(s|s2)

{1, 2, 3, 4, 5, 100, 45, 87}
{1, 2, 3, 4, 5, 100, 45, 87}

In [151]:
print(s.intersection(s2))
print(s&s2)

{45, 3, 4, 5}
{45, 3, 4, 5}

In [153]:
print(s.difference(s2))
print(s-s2)

{1, 87}
{1, 87}

In [154]:
print(s^s2)         # prints elements which arer not common in both sets

{1, 2, 100, 87}

# OOPS in Python

In [155]:
class person:
    pass

p = person()
print(type(p))

<class '__main__.person'>

## functions in class

In [158]:
class person:
    def sayHi(self):          # self is object through which it is called
        print("Hello")
        
    def Hello(self,name):
        print("Hello", name)
        
p = person()
p.sayHi()
p.Hello("World")

Hello
Hello World

In [168]:
class person:
    
    # This variable is common for all objects
    nationality = "Indian"
    
    def __init__(self,pname, clg):   # This function initializes the variables of class
        
        # These variables are different for every object
        self.name = pname
        self.college = clg
        
    def intro(self):
        print("My name is %s and I am from %s"%(self.name,self.college))
        print("I am %s"%(self.nationality))
        
p = person("Nakul","AIACTR")
p.intro()

p = person("Rahul","NSIT")
p.intro()

My name is Nakul and I am from AIACTR
I am Indian
My name is Rahul and I am from NSIT
I am Indian

In [5]:
class Dog:
    
    color = "Brown"
    
    def __init__(self, breed):
    
        self.activities = []
        self.breed = breed
        
    def addActivity(self, act):
        self.activities.append(act)
        
    def doActivity(self):
        print(self.breed)
        print(self.activities)
        self.__secretActivity()     # We cannot directly call from main hence we are calling it from publc function of class
        
    def publicActivity(self):
        print("Doing public activity",self.breed)
        
    def __secretActivity(self):          # Appling 2 underscores make it private    
        print("Doing secret activity",self.breed)
        
d1 = Dog("Germen Sephered")
d2 = Dog("Golden Retriever")

d1.addActivity("High Jump")
d1.addActivity("Roll Over")

d2.addActivity("Low Jump")
d2.addActivity("Roll upside down")

d1.doActivity()
d2.doActivity()

d1.publicActivity()
d2.publicActivity()

Dog?

Germen Sephered
['High Jump', 'Roll Over']
Doing secret activity Germen Sephered
Golden Retriever
['Low Jump', 'Roll upside down']
Doing secret activity Golden Retriever
Doing public activity Germen Sephered
Doing public activity Golden Retriever

## Inheritance

In [8]:
class SchoolMember:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
        print("Init School member : %s"%self.name)
        
    def introduce(self):
        print("Name : %s %d"%(self.name, self.age))
    
    
class Teacher:
    
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
        self.salary = salary
            
        print("Init Teacher : %s"%self.name)
            
    def introduce(self):
        SchoolMember.introduce(self)
        
        print("Salary : %d"%self.salary)
        
        
class Student:
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        
        print("Init Student : %s"%self.name)
        
    def introduce(self):
        SchoolMember.introduce(self)
        
        print("Marks : %d"%self.marks)
            
t = Teacher("Mr. Alpha", 30, 45000)
t.introduce()
            
s = Student("Rahul", 20, 70)  
s.introduce()

Init School member : Mr. Alpha
Init Teacher : Mr. Alpha
Name : Mr. Alpha 30
Salary : 45000
Init School member : Rahul
Init Student : Rahul
Name : Rahul 20
Marks : 70

In [11]:
l=[]
l.append('l')
l.append(46)
l
print ("fdgbdr%s"%l)
print(type(l))

fdgbdr['l', 46]
<class 'list'>

In [8]:
import numpy as np

n = np.array([[2,4,5,4,5]])
print(n.shape)
n1 = np.array([[2,4,5,4,5],[2,5,3,7,3]])
print(n1.shape)
n2 = np.array([[2],[4],[5],[4],[5]])
print(n2.shape)

(1, 5)
(2, 5)
(5, 1)